*{
    margin: 0;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(43, 122, 158);
    border-radius: 0.3rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: rgb(43, 122, 158);;
    text-decoration: none;
    font-size: 18px;
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.about img {
    width: 500px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #181818;
    margin-top: 50px;
}
.content h1{
    font-size:4rem;
    margin-bottom: 3rem;
}
#para{
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
.content ul{
    font-size: 1.4rem;
}
